/* CSS para el contenedor principal del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/navbar.jpeg');
    color: white; /* Color del texto */

    max-width: 100%; /* Ancho máximo */
    min-height:88.5vh;
    overflow: auto; /* Habilita barras de desplazamiento si es necesario */
  }
  
  /* CSS para el formulario */
  .form {
    background-color: rgba(12, 10, 59, 0.617); /* Aquí puedes ajustar el valor alpha (0.5 en este caso) para controlar la transparencia */
    padding: 20px;
    box-shadow: 0 0 10px rgba(7, 13, 84, 0.629);
    width: 100%; /* Ancho máximo */
    max-width: 1000px; /* Ancho máximo */
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a vertical */
  }
  
  /* Nuevas clases para organizar los elementos en dos columnas verticales con espacio entre ellos */
  .form-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px; /* Espacio vertical entre las filas */
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 30px; /* Espacio horizontal entre los grupos de elementos */
  }
  
  /* Estilo para los labels */
  .form-group label {
    margin-bottom: 1px;
  }
  
  /* Estilo para los campos de entrada */
  .form-group input[type="text"],
  .form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(5, 13, 102, 0.566);
    border: 1px solid #251ab4;
    background-color: #e2dcda;
    color: #251ab4;
  }

  /* Estilo para el campo de fecha */
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #251ab4;
    background-color: #e2dcda;
    color: #251ab4;
  }

  /* Estilo para el campo "Rating" de tipo número */
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #251ab4;
    background-color: #e2dcda;
    color: #251ab4;
  }

  /* Estilo para los botones del campo "Rating" de tipo número */
.form-group input[type="number"]::-webkit-inner-spin-button,
.form-group input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 2px; /* Espacio alrededor de los botones */
  width: 20px; /* Ancho de los botones */
  height: 20px; /* Altura de los botones */
  border: 1px solid #251ab4; /* Borde de los botones */
  background-color: #ce48c9; /* Color de fondo de los botones */
  color: #251ab4; /* Color del contenido de los botones */
  font-size: 1px; /* Tamaño del texto en los botones */
}

  
  /* Estilo para el mensaje de error del campo de fecha */
  .form-group input[type="date"] + .form-error {
    color: #ff6b6b; /* Color de error */
    font-size: 12px;
  }
  
  /* Estilo para los mensajes de error */
  .form-error {
    margin-top: -11px;
    color: #ff6b6b; /* Color de error */
    font-size: 12px;
  }

  /* Estilo para el botón de enviar */
  .form input[type="submit"] {
    background-color: #ce48c9; /* Color de fondo del botón */
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  


  /* Estilo para el botón de enviar habilitado */
.form input[type="submit"]:enabled {
  background-color: #009089; /* Color de fondo del botón cuando esté habilitado */
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo para el botón de enviar cuando esté deshabilitado */
.form input[type="submit"]:disabled {
  background-color: #ce48c9; /* Color de fondo del botón cuando esté deshabilitado */
  color: #ccc; /* Color del texto cuando esté deshabilitado */
  cursor: not-allowed; /* Cambiar el cursor a "no permitido" */
}

  
/* Estilo para los contenedores de elementos */
.display-container {
  display: flex;
  flex-wrap: wrap; /* Para que los elementos se envuelvan si hay demasiados */
  gap: 2px; /* Espacio entre los elementos */
}

/* Estilo para el contenedor de opciones seleccionadas */
.display-options {
  display: flex;
  flex-wrap: wrap; /* Para que las opciones se muestren en línea y se envuelvan si es necesario */
  gap: 5px; /* Espacio entre las opciones seleccionadas */
}

/* Estilo para cada elemento (plataforma o género) */
.display-item {
  display: flex;
  align-items: center; /* Para centrar el texto y el botón verticalmente */
  background-color: #5066d1; /* Color de fondo */
  padding: 5px; /* Espacio dentro del elemento */
}

/* Estilo para el botón dentro de cada elemento */
.display-item button {
  background-color: #ff0000; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  border-radius: 50%; /* Hacer el botón redondo */
  width: 20px; /* Tamaño del botón */
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
  margin-left: 5px; /* Espacio entre el botón y el texto */
}

/* Estilo para el botón al pasar el ratón sobre él */
.display-item button:hover {
  background-color: #cc0000; /* Cambiar el color de fondo al pasar el ratón */
}
